
:root {
    --bleu: #7a3866;
    --gris-fonce: #333;
    --gris-clair: #f9f9f9;
    --blanc: #ffffff;
    --police: 'Segoe UI', Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


.conteneur {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #7a3866;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}

.sous-titre {
    font-size: 1.2rem;
    opacity: 0.9;
    margin-top: 5px;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #22282f;
    text-decoration: underline;
}

section {
    padding: 40px 0;
    background: #ffffff;
    margin-bottom: 15px;
}

h2 {
    color: #7a3866;
    border-bottom: 2px solid var(--bleu);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.grille {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.grille article {
    flex: 1;
    min-width: 280px;
}

.bloc-experience {
    border-left: 4px solid var(--bleu);
    padding-left: 20px;
    margin-bottom: 25px;
}

.date-info {
    font-style: italic;
    color: #666;
    font-size: 0.95rem;
}


footer {
    text-align: center;
    padding: 40px 0;
    background: #222;
    color: #ffffff;
}

.bouton-github {
    display: inline-block;
    background:  #7a3866;
    color: #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: bold;
    transition: background 0.3s;
}

.bouton-github:hover {
    background: #7a3866;
}


@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}